<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">

      <div class="row">

        <div class="col-xs-12 col-sm-3" id="sidebar">
          <div class="list-group col-xs-9 col-sm-12">
            <a href="/personal-training.html"
              class="list-group-item">Personal Training</a>
            <a href="/in-home-training.html"
              class="list-group-item">In-home Training</a>
            <a href="/weight-training.html"
              class="list-group-item">Weight Training</a>
            <a href="/kickboxing.html"
              class="list-group-item">Kickboxing</a>
            <a href="/brazilian-jiu-jitsu.html"
              class="list-group-item">Brazilian Jiu-jitsu</a>
            <a href="/wedding-shape-up.html"
              class="list-group-item">Wedding Shape Up</a>
            <a href="/tai-chi.html"
              class="list-group-item">Tai Chi</a>
            <a href="/kungfu.html"
              class="list-group-item">Kungfu</a>
            <a href="/kids-fitness.html"
              class="list-group-item">Kids Fitness</a>
          </div>
          <img class="col-xs-3 col-sm-12" src="{{ "img/side.jpg" | prepend: site.baseurl }}">
        </div>

        <div class="content col-xs-12 col-sm-9">
          {{ content }}
        </div><!--/.col-xs-12.col-sm-9-->

      </div><!--/row-->

      <hr>

      {% include footer.html %}

    </div><!--/.container-->

    <!-- build:js({app,.tmp}) /js/script.js -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/vendors/masonry/dist/masonry.pkgd.min.js"></script>
    <script src="/vendors/fancybox/jquery.fancybox.pack.js"></script>
    <script src="/vendors/fancybox/helpers/jquery.fancybox-buttons.js"></script>
    <script src="/vendors/fancybox/helpers/jquery.fancybox-media.js"></script>
    <script src="/vendors/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
    <!-- endbuild -->
    <script type="text/javascript">
      $('.grid').masonry({
        itemSelector: '.grid-item'
      });

      $(document).ready(function() {
        $(".fancybox").fancybox();
      });
    </script>
  </body>

</html>
