<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Leon Personal Training</h1>
    <p>(Shanghai-PersonalTraining.com)</p>
    <p>Your Goals are our Priority, Tailored Fitness. Revolution Fitness. Save Your Time. Fitness Everywhere. Total Wellness. Real Private.</p>
  </div>
</div>
<!-- Static navbar -->
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "" | prepend: site.baseurl }}">Leon Personal Training</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Location</a></li>
        <li><a href="#">Rate</a></li>
        <li><a href="#">Product</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Trainer</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Videos</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
