@charset "utf-8";

.page-title {
  margin-top: 0;
}

.jumbotron {
  margin-bottom: 0;
  background: url(../img/header-bg.jpg);
}

#sidebar {
  .list-group {
    padding: 0;
  }
}

@media screen and (min-width: 750px) {
  .content {
    padding-left: 30px;
  }
}

.fancybox {
  display: block;
  max-height: 75px;
  overflow: hidden;
  margin-bottom: 10px;
}
